@model Project.Areas.Identity.Data.ApplicationUser
@inject Project.Data.AnotherDBContext Context

@{
    ViewData["Title"] = "Details";
    var club = Context.Clubs.FirstOrDefault(club1 => club1.ID == Model.club);
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.sex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.sex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.club)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => club.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.birthdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.birthdate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>